<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<style>
  background-color: #E6E6FA
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
</head>
<body>
<h1>Books</h1>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.title %>
    </li>
  <% end %>
</ul>

</body>
