<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Twoja rezerwacja z dnia <%= @reservation_date %> została zrealizowana.</h1>
  <p>Wypożyczyłeś książkę <%= @book.title %>.</p>
  
</body>
</html>