<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Witamy w bibliotece!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application.css" %>
</head>
<body>

    <h1>Twoje wypożyczenie z dnia <%= @borrowing.created_at.strftime('%d.%m.%Y') %> zostało anulowane.</h1>
    <p>Chciałeś/aś wypożyczyć  <%= @book.title %>.</p>
  
</body>
</html>