<html>
<head>
<style>
  body {
  background-color: #E6E6FA;
  }
</style>
</head>
<body>
  <%= button_to "Powrót do strony głównej", root_path, :method => :get %><br/>

  <% if current_user.role != "Użytkownik" %>
    <%= button_to "Dodaj książkę", newbook_path, :method => :get %>
  <% end %>
  <h1>Książki:</h1>
  <ul>
    <% @books.each do |book| %>
      <li>
        <a href="/books/<%= book.id %>">
          <%= book.title %>
        </a>
      </li>
   <% end %>
  </ul>


  
</body>

