<% if users %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="borrowed-books">
  <h2>Oczekujący na zaakceptowanie:</h2>
  <% users.each do |user| %>
    <% if user.approved.nil? || user.approved == "false" %>
      <%= render_user_info(user) %>
    <% end %>
  <% end %>
</div>
<div class="returned-books">
  <h2>Zaakceptowani użytkownicy:</h2>
  <% users.each do |user| %>
    <% if user.approved == "true" %>
      <%= render_user_info(user) %>
    <% end %>
  <% end %>
</div>
<% else %>
  <!-- Dodaj kod obsługi przypadku, gdy users jest nullem -->
  Brak użytkowników do wyświetlenia.
<% end %>
