<p>Cześć <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Kontaktujemy się, aby poinformować Cię, że zmieniono Twój adres email na <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Kontaktujemy się, aby poinformować Cię, że zmieniono Twój adres email na <%= @resource.email %>.</p>
<% end %>
